---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
<div>Hero Section</div>
<div>Newest Element Section</div>
<div>3 Per Row Element Section</div>
</Layout>