---
import HeaderLink from './HeaderLink.astro';

// TODO: Replace social labels with icons
---

<header class="grid grid-cols-12 py-4">
	<div class="col-span-12 sm:col-span-3 font-extrabold text-4xl">Hot Coffee</div>
	<div class="col-span-12 sm:col-span-3">
		<input
			placeholder="Search..."	
			type="text"
		/>
	</div>
	<nav class="col-span-12 sm:col-span-6 text-right">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/about">Contact</HeaderLink>
		<HeaderLink href="https://twitter.com/jlong5795" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/jlong5795" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
