---
import HeaderLink from './HeaderLink.astro';

// TODO: Replace social labels with icons
---

<header class="flex py-4 space-x-72">
	<div class="font-extrabold text-4xl">Hot Coffee</div>
	<div class="flex">
		<!-- <i class="max-h-10 material-icons overflow-x-hidden">search</i> -->
		<input 
			placeholder="Search..."	
			type="text"
		/>
	</div>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/about">Contact</HeaderLink>
		<HeaderLink href="https://twitter.com/jlong5795" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/jlong5795" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
